{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>

{% for listing in listings %}

    {% if listing.active %}
    <div class="card border border-secondary mt-3">
        <div class="card-body">
            {% if listing.image_url %}
            <img src="{{listing.image_url}}" class="img-fluid rounded float-end m-1">
            {% endif %}
            <h5 class="card-title">{{listing.title}}</h5>
            <h6 class="card-subtitle text-white-50 mb-3">{{listing.category}}</h6>
            <div class="card-text mb-3">
                <p>{{listing.description}}</p>
                <strong>Current Price</strong>: {{ listing.current_bid.value }}$

                <br>
            </div>
            <a href="{% url 'listing' listing.id %}" class="card-link">View Listing</a>
        </div>
    </div>
    {% endif %}

{% empty %}
    <div class="text-center bg-dark h-25">
        <h3 class="p-5 text-muted"" >There are currently no active listings.</h3>
    </div>
{% endfor %}

{% endblock %}